.compraExitosaContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #259e00;
}

.compraExitosaText {
    color: #07fc27;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.volverCursosButton {
    padding: 10px 20px;
    background-color: #07fc27;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}